/* Start of Timer */
.timer-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.base-timer {
  position: relative;
  width: 80px;
  height: 80px;
}
.base-timer__svg {
  transform: scaleX(-1);
}
.base-timer__circle {
  fill: none;
  stroke: none;
}
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: var(--dark-grey);
}
.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}
.base-timer__path-remaining.green {
  color: var(--alt-color);
}
.base-timer__path-remaining.orange {
  color: var(--alt-color);
}
.base-timer__path-remaining.red {
  color: red;
}
.base-timer__label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
@media (max-width: 575px) {
  .base-timer__label {
    font-size: 1.2rem;
  }
}
/* End of Timer */

/* Start of Set Wizard Defaults */
.quizes-wizard .steps {
  display: none;
}
/* End of Set Wizard Defaults */

/* Start of Linear Progress */
.progress {
  height: 0.5rem;
  border-radius: 0;
}
.progress .progress-bar {
  background-color: var(--alt-color);
}
/* End of Linear Progress */

/* Start of Questions */
.question-wrapper {
  overflow: auto;
  background-color: var(--light);
  border: 1px solid var(--dark-grey);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.actions-wrapper {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 1rem;
  border: 1px solid var(--dark-grey);
  border-top: none;
}
.question-wrapper .question-header {
  padding: 1rem;
  background-color: var(--light-grey);
  border-bottom: 1px solid var(--dark-grey);
}
.question-wrapper .answers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  padding: 0.5rem 0.25rem;
}
.question-wrapper .answers .answer-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.question-wrapper .answers .answer-item.active {
  color: var(--main-color);
}
.question-wrapper .answers .answer-item .icons {
  font-size: 1.15rem;
}
.question-wrapper .answers .answer-item:not(.active) .icons .selected,
.question-wrapper .answers .answer-item.active .icons .not-selected {
  display: none;
}
/* End of Questions */

/* Start of Prev | Next | Finish Actions */
.finish,
.btn-prev,
.btn-next {
  min-width: 100px;
  font-weight: 700;
}
.finish:not(.show),
.btn-prev:not(.show),
.btn-next:not(.show) {
  display: none;
}
.finish.disabled {
  pointer-events: none;
  background-color: var(--dark) !important;
  border-color: var(--dark) !important;
  color: var(--light) !important;
  opacity: 0.5;
}
/* End of Prev | Next | Finish Actions */

/* Start of End Exam Modal */
.end-exam .time-out {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding-top: 1rem;
}
.end-exam .time-out img {
  width: 100px;
  height: 100px;
}
/* End of End Exam Modal */
